apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity
spec:
  replicas: 2
  selector:
    matchLabels:
      app: identity
  template:
    metadata:
      labels:
        app: identity
    spec:
      containers:
        - name: api
          image: identity:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: platform-config
            - secretRef:
                name: platform-secrets
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
